{$ import_statement_list|safe $}

@Component({
  selector: '{$ selector_name|safe $}',
  templateUrl: './{$ component_name|safe $}.component.html',
  styleUrls: ['./{$ component_name|safe $}.component.css']
})
export class {$ class_name|safe $}Component {

  constructor({$ constructor_param|safe $}){
    {$ constructor_body|safe $}
  }

  {$ body|safe $}

}
