{$ import_statement_list $}

@Component({
  selector: '{$ selector_name $}',
  templateUrl: './{$ component_name $}.component.html',
  styleUrls: ['./{$ component_name $}.component.css']
})
export class {$ class_name $}Component {

  {$ constructor $}

  {$ body $}

}
