{% if parameter_and_property_pair_list %}
{ this.state.{$ parameter_and_property_pair_list[0][1] $} !== undefined && <{$ selector_name|safe $} {...this.props}{% for pair in parameter_and_property_pair_list %} {$ pair[0] $}={ this.state.{$ pair[1]|safe $} }{% endfor %}></{$ selector_name|safe $}> }
{% else %}
<{$ selector_name|safe $} {...this.props}{% for pair in parameter_and_property_pair_list %} {$ pair[0] $}={ this.state.{$ pair[1]|safe $} }{% endfor %}></{$ selector_name|safe $}>
{% endif %}