<div>
  <label htmlFor="input-{$ dasherize_name|safe $}"><strong>{$ title_name|safe $}</strong></label>
  <div>
    <input
      id="input-{$ dasherize_name|safe $}"
      name="{$ var_camel_name|safe $}"
      type="{$ type|safe $}"
      {% if placeholder %} placeholder='Fill the {$ title_name|safe $}'{% endif %}
      {% if value %} defaultValue={ {$ value|safe $} }{% endif %}
      ref={e => {
        this.{$ var_camel_name|safe $} = e;
      }}
    />
  </div>
  <br/>
</div>