<Route
  {% if not flag %}exact{% endif %}
  path="{$ path $}"
  component={
  {%- if enable_guard %}
  withAuth(
  {%- endif %}

  {$- component $}

  {%- if enable_guard %}
  )
  {%- endif %}

  }
/>