{$ import_statement_list|safe $}

class {$ class_name|safe $}{% if parent_class %} extends {$ parent_class $}{% endif %} {
    {$ instance_variables|safe $}

    {$ constructor|safe $}

    {$ body|safe $}
}

export default {$ class_name|safe $};