{$ import_list|safe $}

export class {$ class_name|safe $}{% if parent_class %} extends {$ parent_class $}{% endif %} {
    {$ instance_variables|safe $}

    {$ constructor|safe $}

    {$ body|safe $}

}