import {% if default_element %}
    {$- default_element|safe $}
{%- endif %}

{%- if default_element and imported_element %}
{$- ', ' $}
{%- endif %}

{%- if imported_element -%}
{ {$ imported_element|safe $} }
{%- endif %} from '{$- main_module|safe $}';