{{ import_statement_list|safe }}

const routes: Routes = [
{{ list_routes|safe }}
];

@NgModule({
  imports: [{{ ngmodule_imports|safe }}],
  exports: [{{ ngmodule_exports|safe }}]
})
export class AppRoutingModule { }
