{{ import_statement_list|safe }}

const routes: Routes = [
{{ list_routes }}
];

@NgModule({
  imports: [{{ ngmodule_imports }}],
  exports: [{{ ngmodule_exports }}]
})
export class AppRoutingModule { }
