{{ import_statement_list|safe }}

@NgModule({
  declarations: [
    {{ ngmodule_declarations|safe }}
  ],
  imports: [
    {{ ngmodule_imports|safe }}
  ],
  providers: [{{ ngmodule_providers|safe }}],
  bootstrap: [{{ ngmodule_bootstrap|safe }}]
})
export class AppModule { }
